.list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(100vh - 300px);
  padding: 8px 0;
  border-radius: 8px;
  border: 2px solid #404040;
  background: var(--black-gradient);

  &::-webkit-scrollbar {
    width: .3rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    height: 1rem;
  }

  &::-moz-progress-bar {
    background-color: var(--gray);
    width: .3rem;
    height: 1rem;
  }
}

.item {
  border-top: 1px solid rgba(245, 245, 245, 0.2);
  
  &:first-child {
    border-top: none;
  }
}