.coin_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background: transparent;
  transition: all .5s ease;

  &.red {
    background: var(--light-red);
  }

  &.green {
    background: var(--green);
  }
}

.token {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--blue-gradient);
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
    overflow: hidden;
  }

  span {
    font-weight: 600;
  }
}