:root {
  /* Colors */
  --white: #FFFFFF;
  --text-color:#F5F5F5;
  --text-gray: #C2C2C2;
  --gray:#999999;
  --orange: #FF8E3B;
  --light-orange: rgba(255, 182, 113, 1);
  --red: #FF3B30;
  --light-red: #FF8A7A;
  --black: #000000;
  --black-900: #050505;
  --black-700: #232323;

  /* Gradients */
  --bg-gradient: radial-gradient(circle at 100% 0%, #2A1F47 0%, #050505 100%);
  --bg-component-gradient: linear-gradient(84.75deg, #232323 0%, #313131 100%);

  --blue-gradient: linear-gradient(84.75deg, #6342BD 0%, #7553D8 100%);
  --black-gradient: linear-gradient(230.22deg, #313131 0%, #232323 100%);
}

body {
  font-family:'Segoe UI', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--text-color);
  background: var(--bg-gradient);
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 769px;
  margin: 0 auto;
  padding: 0 8px;
}